body {
  font-size: 0.875rem;
}
.form-check-input:checked[type="radio"] {
  background-color: white !important;
  border: 2px solid purple !important;
  outline: none;
}
.fc .fc-toolbar.fc-header-toolbar {
  display: none;
}
.form-check-input[type="radio"]:checked:after {
  border-color: purple;
  background-color: purple;
}
.form-check-input:focus[type="radio"] {
  box-shadow: none;
  outline: none;
}
.form-item input[type="date"]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
.form-item input[type="date"]:focus::-webkit-datetime-edit {
  color: black !important;
}
.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}
.bg-purple {
  background-color: rgb(137, 101, 169);
}
.text-muted {
  color: rgb(216, 215, 215) !important;
}
/*
 * Sidebar
 */
.bg-lightpurple {
  background-color: #e7d7f5;
}
.logo {
  margin-top: -50px;
}
body {
  background-color: rgb(248, 245, 250) !important;
}
input {
  border-color: rgb(233, 233, 233) !important;
}
.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  background-color: rgb(137, 101, 169);
  z-index: 100; /* Behind the navbar */
  padding: 18px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}
.sidebar li a {
  color: white !important;
}
.sidebar li.active {
  background-color: white !important;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.sidebar li.active a {
  color: rgb(137, 101, 169) !important;
}
.sidebar li a svg {
  margin-right: 8px;
}
tr:nth-child(even) {
  background-color: white;
}
.page-item {
  padding: 0 10px;
}
.page-item.active .page-link {
  background-color: rgb(137, 101, 169);
  border-color: rgb(137, 101, 169);
}
.page-link {
  border-radius: 50px;
  color: lightgray !important;
  background-color: transparent;
}
.page-link .fas {
  color: black;
}
.form-item {
  position: relative;
  margin-bottom: 15px;
}
.form-item input,
.form-item select {
  display: block;
  width: 100%;
  height: 40px;
  background: transparent;
  border: solid 1px #ccc;
  transition: all 0.3s ease;
  padding: 0 0px;
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
  outline: none;
}
.form-item input:focus,
.form-item select:focus {
  border-color: rgb(137, 101, 169) !important;
}
.form-item label {
  position: absolute;
  cursor: text;
  z-index: 2;
  top: 13px;
  left: 0px;
  font-size: 12px;
  font-weight: bold;
  background: #fff;
  padding: 0 0px;
  color: rgb(197, 197, 197);
  transition: all 0.3s ease;
}
.form-item input:focus + label,
.form-item input:valid + label,
.form-item select:focus + label,
.form-item select:valid + label {
  font-size: 11px;
  top: -5px;
}
.form-item input:focus + label,
.form-item select:focus + label {
  color: rgb(137, 101, 169);
}
.text-purple {
  color: rgb(137, 101, 169);
}
select:disabled {
  opacity: 0.6;
}
.form-item input[type="date"]::-webkit-calendar-picker-indicator {
  color: transparent;
  background: none;
  z-index: 1;
}
.img-user {
  width: 35px;
  height: 35px;
}

.form-item input[type="date"]:before {
  color: transparent;
  background: none;
  display: block;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f073";

  /* This is the calendar icon in FontAwesome */
  width: 15px;
  height: 20px;
  position: absolute;
  top: 12px;
  right: 6px;
  color: rgb(137, 101, 169);
}

.table-purple tr:nth-child(even) {
  background-color: #e7d7f5;
}
.table-purple tr:nth-child(odd) {
  background-color: rgb(241, 241, 241);
}
.table-purple thead tr {
  background-color: #e7d7f5 !important;
}
.btn {
  text-transform: none;
}
.has-search .form-control {
  padding-left: 2.375rem;
}

.value-button {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 25px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  padding: 3px 0;
  background: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.value-button:hover {
  cursor: pointer;
}

.form .decrease,
.form-for-table .decrease {
  margin-right: -4px;
  border-radius: 8px 0 0 8px;
}

.form .increase,
.form-for-table .increase {
  margin-left: -4px;
  border-radius: 0 8px 8px 0;
}

.form #input-wrap,
.form-for-table #input-wrap {
  margin: 0px;
  padding: 0px;
}
.table-purple thead {
  background-color: rgb(137, 101, 169);
}
.form input#number,
.form-for-table input#number {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd !important;
  border-bottom: 1px solid #ddd !important;
  margin: 0px;
  width: 30px;
  background-color: white;
  height: 30px;
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.increase {
  border-left: 0px;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.4rem;
  line-height: 2.4rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc !important;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
  top: 0.25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}
